{% extends 'board_ad/base.html' %}

{% block body %}
    <h1>{{ posting.title }}</h1>
    <p>{{ posting.content }}</p>
    <hr />
    <a href="{% url 'board_ad:posting_list' %}"><button>List</button></a>
    <a href="{% url 'board_ad:posting_edit' posting.id %}"><button>Edit</button></a>
    <form action="{% url 'board_ad:posting_delete' posting.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <form action="{% url 'board_ad:comment_new' posting.id %}" method="post">
        {% csrf_token %}
        <label for="comment_input"></label>
        <input id="comment_input" type="text" name="comment">
        <button type="submit">comment</button>
    </form>
    <hr />
    {% for comment in comments %}
        <form action="{% url 'board_ad:comment_delete' posting.id comment.id %} " method="post">
            {% csrf_token %}
            <p>{{ comment.content }}</p>
            <button type="submit">delete</button>
        </form>
    {% endfor %}
{% endblock %}
